<div class="container">
  <div class="dropdown">
    <h3>Currency selector</h3>
    <button class="dropbtn" id="currencyButton">{{ currency }}</button>

    <div class="dropdown-content">
      <a (click)="changeCurrency('USD')">United States Dollar (USD)</a>
      <a (click)="changeCurrency('SAR')">Saudi Riyal(SAR)</a>
      <a (click)="changeCurrency('EGP')">Egyptian Pound (EGP)</a>
    </div>
  </div>
  <div class="rate">
    <table>
      <tr>
        <td>
          1 {{ currency }} = {{ values[0] }}
          {{ currency === "USD" ? "SAR" : "USD" }}
        </td>
        <td>1 {{ currency }} = {{ values[1] }} BHD</td>
      </tr>
      <tr>
        <td>1 {{ currency }} = {{ values[2] }} KWD</td>
        <td>1 {{ currency }} = {{ values[3] }} EURO</td>
      </tr>
      <td>1 {{ currency }} = {{ values[4] }} UAE</td>
      <td>
        1 {{ currency }} = {{ values[5] }}
        {{ currency === "EGP" ? "SAR" : "EGP" }}
      </td>
      <tr></tr>
    </table>
  </div>
</div>
