.tile-content {
  line-height: 200px;
  height: 200px;
  text-align: center;
}
.Description {
  background-color: rgba(0, 0, 0, 0.1);
}
mat-grid-tile {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}

mat-grid-tile mat-grid-tile-header {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
